<a href="https://colab.research.google.com/github/memestageceo/py-basics/blob/main/01_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(2+2)

4

In [ ]:
# this is a comment

To work on ~~various~~ stuff:
- i can use markdown
- i can **make things bold**
- I can make things large

In [ ]:
!ls

job_analyzer.py  my_module.py  __pycache__  sample_data

In [ ]:
%timeit [i**2 for i in range(1000)]

87.7 Âµs Â± 40.6 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)

In [ ]:
salary = 10000
bonus_rate = 0.1

total_salary = salary * (1 + bonus_rate)
print(total_salary)

11000.0

In [ ]:
job_1 = "Data Analyst"
job_2 = "Data Analyst"

print(job_1 == job_2)
print(id(job_1) == id(job_2)) # id isn't the same

True
False

In [ ]:
my_print_func = print
my_print_func(22)

22

In [ ]:
def greet():
  return "my name is greet."

In [ ]:
greet()

'my name is greet.'

In [ ]:
def display_info(title, location, salary):
  print(f"JOB: {title}")
  print(f"Location: {location}")
  print(f"Salary: {salary}")
  return

In [ ]:
class JobPost:
  def __init__(self, title, location, salary):
    self.title = title
    self.location = location
    self.salary = salary
  def display_info(self):
    return print(f"JOB: {self.title}\nLocation: {self.location}\nSalary: {self.salary}")

In [ ]:
job_title = "tech writer"
job_location = "gurugram"
job_salary = 25223
techWriter = JobPost(job_title, job_location, job_salary)
print(techWriter)
techWriter.display_info()

<__main__.JobPost object at 0x7a7a41978e90>
JOB: tech writer
Location: gurugram
Salary: 25223

In [ ]:
print(type(techWriter.salary));

<class 'int'>

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [ ]:
"Data Analyst".upper()
"Data Analyst".__len__()
"Data Analyst".replace("a", "o", 2)
"Data Analyst".split(" ")

['Data', 'Analyst']

# string formatting

In [ ]:
role = "Data Analyst"
skill = "Python"

In [ ]:
# create the string "Role: Data Analyst"

"Role: {}".format(role)
"Role: {}; Skill Required: {}".format(role, skill)
#"Role: {}; Skill Required: {}".format(role=role, skill=skill)

'Role: Data Analyst; Skill Required: Python'

In [ ]:
f"Role: {role}; Skill Required: {skill}" # f string

'Role: Data Analyst; Skill Required: Python'

In [ ]:
# % formatting

"Role: %s; Skill Required: %s" % (role, skill)

'Role: Data Analyst; Skill Required: Python'

In [ ]:
# join method

years_experience = '0123456789'
', '.join(years_experience)

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

In [ ]:
skills = ["Python", "SQL", "Excel"]
', '.join(skills)

'Python, SQL, Excel'

# operators

In [ ]:
"what's up?" * 10

"what's up?what's up?what's up?what's up?what's up?what's up?what's up?what's up?what's up?what's up?"

In [ ]:
min_salary = 20_000
max_salary = 50_000

avg_salary = (min_salary + max_salary) / 2

print(avg_salary)

35000.0

In [ ]:
# switch values
applicant_1 = "Kelly"
applicant_2 = "Shelly"

applicant_1, applicant_2 = applicant_2, applicant_1
print(applicant_1, applicant_2)

Shelly Kelly

In [ ]:
x = 1

x += 3
x *= 3

In [ ]:
x

12

In [ ]:
salary_kelly = 20_000
salary_luke = 30_000

In [ ]:
salary_kelly == salary_luke

False

## logical operators

- x and y
- x or y
- not x

In [ ]:
wfh = True
good_salary = False
health_insurance = True

In [ ]:
wfh and good_salary

False

In [ ]:
wfh or good_salary

True

In [ ]:
if not good_salary:
  print("salary isn't good enough. Rejecting job...ðŸ˜Ž")

salary isn't good enough. Rejecting job...ðŸ˜Ž

## membership operators

- x in y
- x not in y

In [ ]:
"Data" in "Data Nerd"

True

In [ ]:
autobots = ["Optimus Prime", "Bumblebee", "Megatron", "Starscream"]

"Optimus Prime" in autobots

True

## identity operators

> checks if both objects using the same memory location

- x is y
- x is not y

In [ ]:
salary_kelly = 20_000
salary_luke = 20_000

In [ ]:
salary_kelly is salary_luke

False

In [ ]:
planets = ["earth", "venus", "pluto"]
planets_copy = planets

planets is planets_copy # now both refer to same memory location.

True

## bitwise operators

- x & y
- x | y
- x ^ y
- ~x
- x << y
- x >> y

# conditionals

In [ ]:
if True:
  print("this is true")

this is true

In [ ]:
if False:
  print("lalalala")
else:
  print("else we all die.")

else we all die.

In [ ]:
job_skill = "SQL"
applicant_skill = "SQL"

In [ ]:
if job_skill == applicant_skill:
  print("proceed to interview")

proceed to interview

In [ ]:
applicant_skill = "Python"
years_exp = 3

if job_skill == applicant_skill:
  print("proceed to interview")
elif years_exp >= 5:
  print("experienced in bs")
else:
  print("send candidate to the gulag")

send candidate to the gulag

In [ ]:
# pass -> leave for later
# !pass -> error
if applicant_skill == "JavaScript":
  pass

# container data types

## Lists

In [ ]:
my_list = [1, 2, 3, 4]

In [ ]:
job_skills = ["sql", "power bi", "leadership"]

In [ ]:
job_skills.append("python")

In [ ]:
job_skills

['sql', 'power bi', 'leadership', 'python']

In [ ]:
job_skills.remove("leadership")
job_skills

['sql', 'power bi', 'python']

In [ ]:
len(job_skills)

3

In [ ]:
job_skills[2]

'python'

In [ ]:
job_skills.insert(2, "leadership")
job_skills

['sql', 'power bi', 'leadership', 'python']

In [ ]:
job_skills.pop(2)
job_skills

['sql', 'power bi', 'python']

In [ ]:
job_skills[0:3]

['sql', 'power bi', 'python']

In [ ]:
job_skills[:]

['sql', 'power bi', 'python']

In [ ]:
job_skills[:1]

['sql']

In [ ]:
new_skills = ["excel", "tableau", "communication", "writing"]
job_skills = job_skills + new_skills
job_skills

['sql', 'power bi', 'python', 'excel', 'tableau', 'communication', 'writing']

In [ ]:
job_skills[::3] # view every second item

['sql', 'excel', 'writing']

In [ ]:
job_skills[-2:] # get last 2

['communication', 'writing']

In [ ]:
skill1, skill2, skill3 = job_skills[:3]
print(skill1, skill2, skill3)

sql power bi python

In [ ]:
# * is the unpack operator
good_skills, *bad_skills = job_skills

print(good_skills)
print(bad_skills)

sql
['power bi', 'python', 'excel', 'tableau', 'communication', 'writing']

## Dictionary
objects with key value pairs

In [ ]:
job_type_skills = {
    "database": "postgresql",
    "language": "python",
    "library": "pandas"
}

In [ ]:
job_type_skills

{'database': 'postgresql', 'language': 'python', 'library': 'pandas'}

In [ ]:
type(job_type_skills)

dict

In [ ]:
job_type_skills['database']

'postgresql'

In [ ]:
job_type_skills.keys()

dict_keys(['database', 'language', 'library'])

In [ ]:
job_type_skills.values()

dict_values(['postgresql', 'python', 'pandas'])

In [ ]:
job_type_skills.pop('library') # removes the specified key

'pandas'

In [ ]:
job_type_skills.update({ "cloud": "google cloud"})

In [ ]:
job_type_skills

{'database': 'postgresql', 'language': 'python', 'cloud': 'google cloud'}

In [ ]:
job_type_skills['version_control'] = "git"

In [ ]:
job_type_skills

{'database': 'postgresql',
 'language': 'python',
 'cloud': 'google cloud',
 'version_control': 'git'}

## sets

- removes duplicate items
- arranges items alphabatically

In [ ]:
job_skills_set = {"python", "sql", "power bi", "python", "tableau"}
job_skills_set

{'power bi', 'python', 'sql', 'tableau'}

In [ ]:
job_skills_set.add("looker")

In [ ]:
job_skills_set

{'looker', 'power bi', 'python', 'sql', 'tableau'}

In [ ]:
job_skills_set.pop() # sets have no index -> no arg for pop -> random value removed

'sql'

In [ ]:
job_skills_set.remove('power bi')

In [ ]:
job_skills_set

{'looker', 'python', 'tableau'}

In [ ]:
set_from_list = set(job_skills)
set_from_list

{'communication', 'excel', 'power bi', 'python', 'sql', 'tableau', 'writing'}

## tuple

> sets but for **fixed** data

Tuples are <span>immutable</span>

In [ ]:
adi_skills = ("javascript", "typescript", "arcgis", "qgis")

id_1 = id(adi_skills)

In [ ]:
# adi_skills.append("error") # tuples are immutable so appending throws error

In [ ]:
new_skills = ("investigation", "bomb diffusion")

adi_skills += new_skills
adi_skills

('javascript',
 'typescript',
 'arcgis',
 'qgis',
 'investigation',
 'bomb diffusion')

Wait what ðŸ˜±

Aren't tuples immutable?

> Yes, they are. After the addition, we've a new object - can be verfied with id.

In [ ]:
id_2 = id(adi_skills)

In [ ]:
print(id_1, id_2)
print(id_1 == id_2)

134665507011568 134665506253664
False

# loops

In [ ]:
# prompt: create a list of job_lists related to data analysts

job_lists = [
    "Data Analyst",
    "Business Intelligence Analyst",
    "Data Scientist",
    "Data Engineer",
    "Machine Learning Engineer",
    "Data Architect",
    "Database Administrator",
    "Statistician",
    "Data Visualization Specialist",
    "BI Developer"
]

In [ ]:
analyst_list = []

for job in job_lists:
  if "Data" in job:
    analyst_list.append(job)

analyst_list

['Data Analyst',
 'Data Scientist',
 'Data Engineer',
 'Data Architect',
 'Database Administrator',
 'Data Visualization Specialist']

In [ ]:
print(len(job_lists), len(analyst_list))

10 6

In [ ]:
# prompt: a dictionary with name as key and number of years as value.

# Create a dictionary with names as keys and number of years as values.
employee_years = {
    "Alice": 5,
    "Bob": 3,
    "Charlie": 7,
    "David": 2,
    "Eve": 10
}

for key, value in employee_years.items():
  if value > 5:
    print(f"{key} has more than 5 years of experience")

Charlie has more than 5 years of experience
Eve has more than 5 years of experience

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
for _ in range(5):
  print(_)

0
1
2
3
4

In [ ]:
while (True):
  print("this is true")
  break

this is true

In [ ]:
2.5/11

0.22727272727272727

In [ ]:
count = 5

while (not count == 0 ):
  print(count)
  count -= 1

5
4
3
2
1

## list comprehensions

In [ ]:
numbers = [float(x) for x in range(10)]
numbers

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [ ]:
numbers_set = {float(x) for x in range(10)}
numbers_set

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0}

In [ ]:
data_list_comp = [job for job in job_lists if 'Data' in job]
data_list_comp

['Data Analyst',
 'Data Scientist',
 'Data Engineer',
 'Data Architect',
 'Database Administrator',
 'Data Visualization Specialist']

In [ ]:
my_skills = ["python", "postgres", "excel"]

In [ ]:
# prompt: create a list of dict with two keys role and skills. role is a string and skills is a list. these are related to field of data science and artificial intelligence.

# dsr = data science roles

ds_roles = [
    {'role': 'Data Scientist', 'skills': ['Python', 'Machine Learning', 'Deep Learning', 'Statistics']},
    {'role': 'Data Analyst', 'skills': ['SQL', 'Python', 'Data Visualization', 'Excel']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Cloud Computing']},
    {'role': 'Data Engineer', 'skills': ['SQL', 'Python', 'Big Data', 'Cloud Computing']},
    {'role': 'AI Researcher', 'skills': ['Python', 'Deep Learning', 'Mathematics', 'Research']},
    {'role': 'Business Intelligence Analyst', 'skills': ['SQL', 'Data Visualization', 'Business Acumen', 'Excel']},
    {'role': 'Data Architect', 'skills': ['Cloud Computing', 'Big Data', 'Database Design', 'SQL']},
    {'role': 'NLP Engineer', 'skills': ['Python', 'NLP Libraries', 'Machine Learning', 'Deep Learning']},
    {'role': 'Computer Vision Engineer', 'skills': ['Python', 'OpenCV', 'Computer Vision Libraries', 'Deep Learning']},
    {'role': 'AI Product Manager', 'skills': ['Product Management', 'AI/ML', 'Business Acumen', 'Communication']}
]
ds_roles

[{'role': 'Data Scientist',
  'skills': ['Python', 'Machine Learning', 'Deep Learning', 'Statistics']},
 {'role': 'Data Analyst',
  'skills': ['SQL', 'Python', 'Data Visualization', 'Excel']},
 {'role': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Cloud Computing']},
 {'role': 'Data Engineer',
  'skills': ['SQL', 'Python', 'Big Data', 'Cloud Computing']},
 {'role': 'AI Researcher',
  'skills': ['Python', 'Deep Learning', 'Mathematics', 'Research']},
 {'role': 'Business Intelligence Analyst',
  'skills': ['SQL', 'Data Visualization', 'Business Acumen', 'Excel']},
 {'role': 'Data Architect',
  'skills': ['Cloud Computing', 'Big Data', 'Database Design', 'SQL']},
 {'role': 'NLP Engineer',
  'skills': ['Python', 'NLP Libraries', 'Machine Learning', 'Deep Learning']},
 {'role': 'Computer Vision Engineer',
  'skills': ['Python',
   'OpenCV',
   'Computer Vision Libraries',
   'Deep Learning']},
 {'role': 'AI Product Manager',
  'skills': ['Product Management',
   'AI/ML',
   'Business Acumen',
   'Communication']}]

In [ ]:
for job in ds_roles:
  for skill in job["skills"]:
    if skill.lower() in my_skills:
      print(job["role"])

Data Scientist
Data Analyst
Data Analyst
Machine Learning Engineer
Data Engineer
AI Researcher
Business Intelligence Analyst
NLP Engineer
Computer Vision Engineer

# functions

- built-in
- user defined
- lambda
- std library
- 3rd party library

In [ ]:
data_salaries = [2999, 1234, 5324, 3214, 4512, 1241]

In [ ]:
min(data_salaries)

1234

In [ ]:
max(data_salaries)

5324

In [ ]:
sum(data_salaries)

18524

In [ ]:
def calculate_salary(base_salary, bonus_rate=.1):
  total_salary = base_salary * (1 + bonus_rate)
  return total_salary

In [ ]:
calculate_salary(10000)

11000.0

## lambda functions

In [ ]:
mul2 = lambda x: x * 2

In [ ]:
mul2(3)

6

In [ ]:
mul_nums = lambda x, y: x * y

In [ ]:
mul_nums(4, 5)

20

In [ ]:
total_salary_list = [calculate_salary(salary) for salary in data_salaries]

In [ ]:
total_salary_list

[3298.9,
 1357.4,
 5856.400000000001,
 3535.4,
 4963.200000000001,
 1365.1000000000001]

In [ ]:
lambda_salary = [(lambda x: x * 1.1)(salary) for salary in data_salaries]
lambda_salary

[3298.9,
 1357.4,
 5856.400000000001,
 3535.4,
 4963.200000000001,
 1365.1000000000001]

In [ ]:
# prompt: a list of dict with job_title, skills (a list of skills), and remote(boolean)

ds_roles = [
    {'role': 'Data Scientist', 'skills': ['Python', 'Machine Learning', 'Deep Learning', 'Statistics'], 'remote': True},
    {'role': 'Data Analyst', 'skills': ['SQL', 'Python', 'Data Visualization', 'Excel'], 'remote': False},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Cloud Computing'], 'remote': True},
    {'role': 'Data Engineer', 'skills': ['SQL', 'Python', 'Big Data', 'Cloud Computing'], 'remote': False},
    {'role': 'AI Researcher', 'skills': ['Python', 'Deep Learning', 'Mathematics', 'Research'], 'remote': True},
    {'role': 'Business Intelligence Analyst', 'skills': ['SQL', 'Data Visualization', 'Business Acumen', 'Excel'], 'remote': False},
    {'role': 'Data Architect', 'skills': ['Cloud Computing', 'Big Data', 'Database Design', 'SQL'], 'remote': True},
    {'role': 'NLP Engineer', 'skills': ['Python', 'NLP Libraries', 'Machine Learning', 'Deep Learning'], 'remote': True},
    {'role': 'Computer Vision Engineer', 'skills': ['Python', 'OpenCV', 'Computer Vision Libraries', 'Deep Learning'], 'remote': False},
    {'role': 'AI Product Manager', 'skills': ['Product Management', 'AI/ML', 'Business Acumen', 'Communication'], 'remote': True}
]

In [ ]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
filtered_jobs = filter(lambda job: job['remote'] and "Python" in job['skills'], ds_roles)
remote_jobs = list(filtered_jobs)
remote_jobs

[{'role': 'Data Scientist',
  'skills': ['Python', 'Machine Learning', 'Deep Learning', 'Statistics'],
  'remote': True},
 {'role': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow', 'PyTorch', 'Cloud Computing'],
  'remote': True},
 {'role': 'AI Researcher',
  'skills': ['Python', 'Deep Learning', 'Mathematics', 'Research'],
  'remote': True},
 {'role': 'NLP Engineer',
  'skills': ['Python', 'NLP Libraries', 'Machine Learning', 'Deep Learning'],
  'remote': True}]

## modules

In [ ]:
import my_module

In [ ]:
my_module.skill_list

['Python', 'SQL', 'Scamming']

In [ ]:
my_module.skill("Bakchodi")

'I am skilled at Bakchodi'

In [ ]:
# import job_analyzer
#job_analyzer.calculate_salary(22000)

In [ ]:
# from job_analyzer import calculate_salary, calculate_bonus

from job_analyzer import * # imports all functions

In [ ]:
calculate_salary(10_000)

11000.0

In [ ]:
calculate_bonus(30000, 20000)

0.5

## statistics library

In [ ]:
# prompt: list of salaries

import statistics

data_salaries = [2999, 1234, 5324, 3214, 4512, 1241]

# Calculate the mean (average) salary
mean_salary = statistics.mean(data_salaries)
print(f"Mean salary: {mean_salary}")

# Calculate the median (middle value) salary
median_salary = statistics.median(data_salaries)
print(f"Median salary: {median_salary}")

# Calculate the mode (most frequent value) salary
# Note: If there's no unique mode, statistics.mode will raise StatisticsError.
# We can handle this using a try-except block
try:
    mode_salary = statistics.mode(data_salaries)
    print(f"Mode salary: {mode_salary}")
except statistics.StatisticsError:
    print("No unique mode found in the salary data.")

# Calculate the standard deviation of the salaries
stdev_salary = statistics.stdev(data_salaries)
print(f"Standard deviation of salaries: {stdev_salary}")

# Calculate the variance of the salaries
variance_salary = statistics.variance(data_salaries)
print(f"Variance of salaries: {variance_salary}")

Mean salary: 3087.3333333333335
Median salary: 3106.5
Mode salary: 2999
Standard deviation of salaries: 1667.332680261101
Variance of salaries: 2779998.2666666666

## datetime

In [1]:
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2025, 2, 8, 4, 33, 7, 437630)

In [3]:
# prompt: a list of data_science_jobs with dict job_title, job_skills (list), and 'job_date' a date string like 2023-05-12. give at least 10

data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'SQL', 'Machine Learning'], 'job_date': '2023-05-12'},
    {'job_title': 'Data Analyst', 'job_skills': ['SQL', 'Excel', 'Tableau'], 'job_date': '2023-05-15'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'PyTorch'], 'job_date': '2023-05-18'},
    {'job_title': 'Data Engineer', 'job_skills': ['Python', 'SQL', 'Hadoop'], 'job_date': '2023-05-20'},
    {'job_title': 'Business Intelligence Analyst', 'job_skills': ['SQL', 'Power BI', 'Excel'], 'job_date': '2023-05-22'},
    {'job_title': 'Data Architect', 'job_skills': ['SQL', 'Cloud Computing', 'Data Modeling'], 'job_date': '2023-05-25'},
    {'job_title': 'AI Researcher', 'job_skills': ['Python', 'Deep Learning', 'Research'], 'job_date': '2023-05-28'},
    {'job_title': 'NLP Engineer', 'job_skills': ['Python', 'NLP', 'Machine Learning'], 'job_date': '2023-06-01'},
    {'job_title': 'Computer Vision Engineer', 'job_skills': ['Python', 'OpenCV', 'Deep Learning'], 'job_date': '2023-06-05'},
    {'job_title': 'Data Visualization Specialist', 'job_skills': ['Tableau', 'Power BI', 'Data Storytelling'], 'job_date': '2023-06-08'},
    {'job_title': 'Database Administrator', 'job_skills': ['SQL', 'Database Management', 'Cloud Computing'], 'job_date': '2023-06-10'},
    {'job_title': 'Big Data Engineer', 'job_skills': ['Spark', 'Hadoop', 'Python'], 'job_date': '2023-06-12'}
]
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': '2023-05-12'},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Excel', 'Tableau'],
  'job_date': '2023-05-15'},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'PyTorch'],
  'job_date': '2023-05-18'},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'SQL', 'Hadoop'],
  'job_date': '2023-05-20'},
 {'job_title': 'Business Intelligence Analyst',
  'job_skills': ['SQL', 'Power BI', 'Excel'],
  'job_date': '2023-05-22'},
 {'job_title': 'Data Architect',
  'job_skills': ['SQL', 'Cloud Computing', 'Data Modeling'],
  'job_date': '2023-05-25'},
 {'job_title': 'AI Researcher',
  'job_skills': ['Python', 'Deep Learning', 'Research'],
  'job_date': '2023-05-28'},
 {'job_title': 'NLP Engineer',
  'job_skills': ['Python', 'NLP', 'Machine Learning'],
  'job_date': '2023-06-01'},
 {'job_title': 'Computer Vision Engineer',
  'job_skills': ['Python', 'OpenCV', 'Deep Learning'],
  'job_date': '2023-06-05'},
 {'job_title': 'Data Visualization Specialist',
  'job_skills': ['Tableau', 'Power BI', 'Data Storytelling'],
  'job_date': '2023-06-08'},
 {'job_title': 'Database Administrator',
  'job_skills': ['SQL', 'Database Management', 'Cloud Computing'],
  'job_date': '2023-06-10'},
 {'job_title': 'Big Data Engineer',
  'job_skills': ['Spark', 'Hadoop', 'Python'],
  'job_date': '2023-06-12'}]

In [6]:
type(data_science_jobs[0]['job_date']) # right now its a str.

str

In [7]:
# convert str to datetime

test_date = data_science_jobs[0]['job_date']

In [9]:
print(datetime.strptime(test_date, "%Y-%m-%d"))

# returns 2023-05-12 00:00:00
# if time âŒ -> use date object

2023-05-12 00:00:00

In [13]:
for job in data_science_jobs:
  job["job_date"] = datetime.strptime(job['job_date'], "%Y-%m-%d")

In [14]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Excel', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'PyTorch'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'SQL', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)},
 {'job_title': 'Business Intelligence Analyst',
  'job_skills': ['SQL', 'Power BI', 'Excel'],
  'job_date': datetime.datetime(2023, 5, 22, 0, 0)},
 {'job_title': 'Data Architect',
  'job_skills': ['SQL', 'Cloud Computing', 'Data Modeling'],
  'job_date': datetime.datetime(2023, 5, 25, 0, 0)},
 {'job_title': 'AI Researcher',
  'job_skills': ['Python', 'Deep Learning', 'Research'],
  'job_date': datetime.datetime(2023, 5, 28, 0, 0)},
 {'job_title': 'NLP Engineer',
  'job_skills': ['Python', 'NLP', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 6, 1, 0, 0)},
 {'job_title': 'Computer Vision Engineer',
  'job_skills': ['Python', 'OpenCV', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 6, 5, 0, 0)},
 {'job_title': 'Data Visualization Specialist',
  'job_skills': ['Tableau', 'Power BI', 'Data Storytelling'],
  'job_date': datetime.datetime(2023, 6, 8, 0, 0)},
 {'job_title': 'Database Administrator',
  'job_skills': ['SQL', 'Database Management', 'Cloud Computing'],
  'job_date': datetime.datetime(2023, 6, 10, 0, 0)},
 {'job_title': 'Big Data Engineer',
  'job_skills': ['Spark', 'Hadoop', 'Python'],
  'job_date': datetime.datetime(2023, 6, 12, 0, 0)}]